* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
}

.container {
	height: 100vh;
	background-image: linear-gradient(to bottom,
			rgba(0, 0, 0, 0.8) 0%,
			rgba(0, 0, 0, 0.2) 20%,
			rgba(20, 20, 20, 0.2) 80%,
			rgba(20, 20, 20, 1) 100%),
		url(../media/img1.webp);
	background-size: cover;
	/* padding: 0.26rem 0.75rem 0 0.75rem ; */

}

.hero {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	/* padding: 0.3rem; */
}

.alinhamento {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0.26rem 0.75rem 0 0.75rem;
}

.banner {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	padding-left: 3rem;
}

.banner .poster {
	width: 450px;
	padding-bottom: 1rem;
}

.banner .subtitle {
	font-size: 1.25rem;
	color: white;
	line-height: 1.25;
	padding-top: .5rem;
}

.buttons {
	margin-top: 2rem;
	display: flex;
}

#btn1 {
	background-color: white;
	color: black;

}

#btn2 {}

.buttons .btn {
	color: white;
	padding: 0.4rem 2rem;
	margin-right: .75rem;
	font-weight: 600;
	border-radius: 0.4rem;
	background: rgba(51, 51, 51, 0.4);
	font-family: inherit;
	font-size: 100%;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;

}

.buttons .btn i {
	margin-right: 0.5rem;
	font-size: 30px;

}

.categorias {
	height: 250px;

}

.categorias span {
	color: #e5e5e5;
	font-size: 18px;
	line-height: 17px;
	font-weight: 600;
	padding: 3rem;
}

.slides {
	margin-top: .8rem;
	display: flex;
	overflow: hidden;
	position: absolute;
	left: 3.75rem;
	right: 0;

}

.slides .movie {}

.slides .movie img {
	max-width: 100%;
	padding-right: 5px;
}

.footer {
	margin: 100px auto 0;
	width: 80%;
	color: #808080;
	;
}

.footer .social {
	font-size: 26px;
	color: white;

}

.footer .social i {
	padding-right: 2.5%;
}

.flex {
	display: flex;
	padding-bottom: 80px;
}

.footer .info {
	width: 25%;
}

.footer .info ul {
	list-style: none;
	display: inline;
	font-size: 12px;
}

.footer .info ul li {
	margin-top: 8px;
}




#navigator {
	display: flex;
	width: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
	align-items: center;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: .5%;
	padding-bottom: .5%;
	z-index: 10;

}

.menuleft,
.menuright {
	display: flex;
	color: white;
	font-size: .87rem;
}

.menuright img {
	display: none;
}



#navigator div {
	display: flex;
	align-items: center;

}

#navigator a {
	text-decoration: none;
	padding-right: 20px;
	font-size: small;
	color: #e5e5e5;
	cursor: pointer;
	font-size: 0.9rem;
	z-index: 1;
}

#navigator svg {
	text-decoration: none;
	font-size: small;
	color: white;
	cursor: pointer;
	font-size: 0.9rem;
	margin-right: 15px;
	z-index: 1;

}

#navlogo {
	width: 120px;
	height: 50px;
	padding-right: 15px;
	z-index: 1;
}




@font-face {
	font-family: Netflix Sans;
	src: url(../fontes/NetflixSans-Regular.otf) format('truetype');
}


/* Tablet */
@media screen and (max-width: 768px) {

	#navigator {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		padding-left: 0;
	}

	#navigator a {
		padding: 0;
	}


	.menuleft {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#menuleft {

		display: none !important;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.5s ease, visibility 0.5s linear 0.5s;

	}

	#menuleft.active {

		opacity: 1;
		visibility: visible;
		transition-delay: 0s;
		display: flex !important;

	}

	.menuleft a {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: black;
		width: 100vw;
		height: 9vh;
		border-width: 0.5px;
		margin-bottom: 2px;
		border-radius: 5px;
		position: relative;
		top: 10vw;

	}

	.menuleft img {
		display: none;

	}

	#navlogo {
		padding: 0;
	}

	.menuright {
		width: 100%;
		align-items: center;
		justify-content: center;
		position: fixed;
		z-index: -1;

	}

	.menuright img {
		display: flex;
	}

	.menuright a {
		margin-right: 10px;


	}

	.btn-menu {
		width: 45px;
		height: 40px;
		position: absolute;
		left: 10px;
		top: 5px;
		padding: 10px;
		cursor: pointer;

	}

	.btn-menu span {
		height: 3px;
		display: block;
		margin-bottom: 5px;
		background-color: #ffffff;
	}

	.banner {
		align-items: center;
		margin-top: 0;
		padding-left: 0;
		height: 55%;


	}

	.banner .poster {
		width: 100%
	}

	.banner span {
		display: none;
	}

	.categorias {
		height: 150px;
	}

	.categorias span {
		padding: 0;
	}
	.slides {
		left: 0;
	}

	.footer {
		margin: 0;
		width: 100%;
	}

	.footer div {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}


	.container{
		height: 100vh;
		background-size: contain;
		background-repeat: no-repeat;

	}



}


/* Celular */
@media screen and (max-width: 320px) {



	.menuleft {
		position: relative;
		top: 60px;
		left: 0px;

	}

	.menuleft a {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: black;
		width: 110vw;
		height: 9vh;
		border-width: 0.5px;
		margin-bottom: 2px;
		border-radius: 5px;
	}

	.menuleft img {
		display: none;
	}

	.menuright {
		padding: 0;
		position: absolute;
		z-index: -1;

	}

	.menuright img {
		display: flex;
	}

	#navigator {
		padding: 0;
		margin: 0;
	}

	.alinhamento {
		margin: 0;
		padding: 0;
	}

	.banner{
		display: flex;
		width: 100vw;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
	}



	.banner .poster {
		width: 300px;
	}




}
